.Form-style,input,button{
    height: 100px;
    width: 500px;
    border-radius:30px;
    margin: 20px;
    font-size: 30px;
}
.Form-style label{
font-size: 30px;

}
.Form-style button{
    font-size: 30px;
    background-color: rgb(150, 251, 83);
    cursor: pointer;
}
.Form-style{
    height: auto;
    width: auto;
    text-align: center;
    align-items: start;
    margin: 10px;
    background-color: rgb(136, 220, 136);
}